body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f6ff;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #9d7dff;;
    margin-top: 40px;
    font-size: 28px;
}

.contenedor {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
div{
    width: 80%;
    margin: 20px auto;
    border: 1px solid black; 
    border-radius: 10px;
    overflow: hidden;
}
table {
    border-collapse: collapse;
    width: 100%; 
}

td, th {
    border: 1px solid black; 
}

th {
    background-color: #9d7dff;
    color: white;
    padding: 12px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
}

td {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: #333;
}

@media (max-width: 700px) {
    table {
        font-size: 13px;
    }
    .contenedor {
        width: 95%;
        padding: 15px;
    }
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; 
    background-color: #7A6CAA;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 25px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

.banner img {
    height: 70px; 
    width: 200px;
    object-fit: contain;
}
