body {
    font-family: Arial;
    text-align: center;
    background: #f0efed;
}
h2 {
    margin-top: 100px;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    margin: 60px; 
}
.boton {
    text-decoration: none;
    color: #4B2EFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.2s;
}
.boton:hover {
    transform: scale(1.05);
}
.boton img {
    width: 70px;
    margin-bottom: 10px;
}
.logout {
    text-decoration: cerrar sesion ;
    color: #4B2EFF;
    display: flex;
    flex-direction: column;
    align-items: top;
    border-radius: 8px;
    padding: 10px;
    background: rgb(204, 57, 234);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; 
    background-color: #7A6CAA;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 25px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

.banner img {
    height: 70px; 
    width: 200px;
    object-fit: contain;
}
