p {
    text-align: center;
}
p a{
    text-decoration: none;
}
h2 {
    font-size: 34px;
    color: #2e2a47;
    margin-bottom: 25px;
    letter-spacing: 1px;
    top:0;
}
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f8f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.contenedor {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid #c8b6ff;
    border-radius: 12px;
    padding: 40px;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1.5px solid #cbb8ff;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    text-align: center;
}
button {
    width: 100%;
    background-color: #9d7dff;
    color: white;
    border: none;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; 
    background-color: #7A6CAA;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-left: 25px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

.banner img {
    height: 70px; 
    width: 200px;
    object-fit: contain;
}